html,body{
    height: -webkit-fill-available;
    font-family: Heebo;
    color: #353535;
}
header {
    height: 40px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    border-bottom: solid 1.5px;
}
ul {
    list-style: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.menubox {
    float: right;
}
.menu {
    width: 100%;
}
.menu > li {
    float: left;
    font-size: 14px;
    /* font-weight: bold; */
    /* font-family: Heebo; */
    padding: 7px;
}
.menu >li> a {
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    color: black;
}
.menu li:hover > ul {
    display: block;
    position: relative;
    top: 10px;
}
.menu li:hover > a {
    text-decoration: underline;
    text-underline-position: under;
}
.menu ul {
    display: none;
    text-align: left;
}
.submenu{
    width: 1px;
}
.submenu a{
    text-decoration: none;
    white-space: nowrap;
    color: black;
}
.submenu a:visited {
    color: black;
}
